@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&display=swap');

*{
    font-family: "Caacupe One";
    box-sizing: border-box;
    background-color: #0072B2;
}


.TituloQuiz{
    color:white;
    text-shadow:
       3px  3px     0 #000,
      -1px -1px     0 #000,  
       1px -1px     0 #000,
      -1px  1px     0 #000,
       1px  1px     0 #000;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 0.75;
    font-size: 21pt;
    rotate: -5deg;
}

h1  .TextoTitulo{
    padding: 2px;
    width: 35%;
}

.IniciarQuiz{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22pt;
    margin-top: 0;
    padding: 5px;
}

.BotaoIniciar{
    background-color: black;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
}

div a{
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: 0.5; /*Transição leve das cores do botão */
}


.IniciarQuiz a:hover{
    color: black;
    background-color: #009E73;
}


.Pergunta{
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 22pt;
    margin-top: 0;
    padding: 5px;
}

.Pergunta h2{
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
       3px  3px     0 #000,
      -1px -1px     0 #000,  
       1px -1px     0 #000,
      -1px  1px     0 #000,
       1px  1px     0 #000;
    background-color: #56B4E9;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
}

/* Botões de Resposta*/

.RespostasTopo, .RespostasAbaixo{
    margin: 3%;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 0.75;
    justify-content: center;
}

button{
    padding: 2em;
    font-weight: 900;
    font-size: 18pt;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor:pointer;
    line-height: 1;
}

button:hover{
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active{
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.Resposta1 button{
    background: #E69F00;
}

.Resposta2 button{
    background: #009E73;
}

.Resposta3 button{
    background: #D55E00;
}

.Resposta4 button{
    background: #CC79A7;
}
/* 0% IA */